<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ldb.lms.mapper.mypage.StudentMapper">
<select id="idchk" resultType="int" parameterType="String"> 
		select count(*) from student where student_id=#{id}
	</select>
	
<select id="list" resultType="Student">
	select * from student
</select>

<!-- 학생테이블의 컬럼넣기 -->
<insert id="insert" parameterType="Student">
    INSERT INTO student (
        student_id,student_num,dept_id,
        student_name,student_birthday,student_email,
        student_img,student_password,student_phone,
        student_status
    ) VALUES (
        #{studentId},#{studentNum},#{deptId},
        #{studentName},#{studentBirthday},#{studentEmail},
        #{studentImg},#{studentPassword},#{studentPhone},
        #{studentStatus}
    )
</insert>

<!-- 학생id와 일치하는 컬럼 조회 -->
<select id="selectOne" parameterType="String" resultType="Student">
select * from student where student_id=#{val}
</select>

<!-- 넘겨받은 학생id,학과id,학생이름 일치 시 status변경 -->
<update id="deleteUser" parameterType="DeleteUserDto">
	update student set student_status=#{studentStatus}
	where student_id = #{studentId} and dept_id = #{deptId}  and student_name = #{studentName}
</update>

<!-- 학생의 아이디에해당하는 상태 조회(재학or퇴학) -->
<select id="selectStatus" parameterType="String" resultType="String">
	select student_status from student where student_id=#{val}
</select>



</mapper>